{% extends 'templates/base.twig' %}
{% block content %}
<div class="container">
    <form method="POST" action="login.php" class="form-signin" role="form">
        <h2 class="form-signin-heading">API.RSPSD.COM</h2>
        <input type="email" class="form-control" placeholder="Логин" required autofocus>
        <input type="password" class="form-control" placeholder="Пароль" required>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Запомнить меня
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
    </form>
</div>


{{ form_widget(form) }}
{% endblock %}
